* {
    background-color: rgb(67, 70, 75);
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(67, 70, 75);
    color: #868C96
    padding: 7px 2%;
}

.myname {
    color:lightgray;
    font-weight:bolder;
    font-size: 50px;    
}

header a {
    color:#868C96;
    text-decoration: none;
    margin-right: 12px;
    padding: 5px;
    font-size: 33px;    
}

main {
    display: flex;
    height: 100%;
}

#left-section {
    width: 60%;
    text-align: center;
    padding-top: 200px;
}

section h2 {
    font-size: 50px;
    color: lightgray;
}

section p {
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 30px;
    color: #868C96
}

#right-section {
    flex: 1;
}

section h3 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 66px;
    width: 50%;
    border: 5px solid grey;
    border-radius: 50%;
    box-shadow: 5px 5px 5px 5px;
    padding-left: 20px;
}